@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

@import url('assets/css/home.css');

/* Reset de estilos */

html{
  font-size: 16px;
}

:root {
  --cor-de-fundo: #505050;
  --cor-principal: #E3F1FF;
  --cor-secundaria: #F9EEDC;
  --cor-destaque: #E0BA77;
  
  --fonte-principal: "Poppins", sans-serif;
  --fonte-secundaria: "Cinzel Decorative", sans-serif;

  --branco: #ffffff;
  --preto: #000000;
  
}


.banner i{
  content: url(assets/img/seta.svg);

  width: 5rem;
}
