.header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  align-items: center;
  z-index: 2;
  width: 100vw;
}

.navigation {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  position: absolute;
  max-width: 0;
  overflow: hidden;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
  right: 0;
  width: 100%;
  height: 100vh;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(3px);
  border-radius: 0.2rem;
  transition: max-width 0.5s ease;
  justify-content: center;
}

.menu li {
  display: block;
  text-align: center;
}

.menu a {
  text-decoration: none;
  display: inline-block;
  color: var(--cor-principal);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  width: 100%;

  padding: 1.5rem;
}

.checkbox__toggle {
  display: none;
}

#container__rotulo {
  position: absolute;
  content: url(../img/menu-hamburger.svg);
  color: var(--cor-principal);
  width: 2.5rem;
  right: 1rem;
  transition: url 10s ease;
  z-index: 2;
}

.book-link {
  display: none;
}

.checkbox__toggle:checked ~ .menu {
  max-width: 100vw;
}

.checkbox__toggle:checked ~ #container__rotulo {
  content: url(../img/menu-hamburger-open.svg);
}

.checkbox__toggle:checked ~ .header {
  z-index: 0;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  max-width: 100vw;
  height: 100vh;
  background-color: var(--cor-de-fundo);
  background-image: url(../img/banner-mobile.jpg);
  background-position: -240px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;

  top: 0;
}

.banner__container-p--text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.7rem;
  height: 90;
  margin-top: 25%;
}

.banner p {
  color: var(--cor-principal);
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.3rem;

  padding: 0 1rem;
}

.banner .p-destaque {
  color: var(--cor-destaque);
  text-align: right;
  font-size:1rem;
  font-weight: 400;
  line-height: 1.4rem;
}

.banner__container-titulo--text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner__container-titulo--text h1 {
  color: var(--cor-principal);
  text-align: center;
  text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.95);
  font-family: Cinzel Decorative;
  font-size: 3rem;
  font-weight: 700;
  line-height: 4rem;
  margin-bottom: 5rem;
}

.banner__container-titulo--text i {
  position: absolute;
  bottom: 0.8rem;

  animation: moveUpDown 2.5s infinite alternate;
}

@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0.8rem);
  }
}

/* ----------------main--------------- */

.main {
  display: flex;
  width: 100vw;
  flex-direction: column;
  background-image: url(../img/bg-2.jpg);
  background-color: var(--cor-de-fundo);
  background-blend-mode: multiply;
  box-shadow: 0px 8.125rem 1.75rem -0.625rem #000 inset;
  padding: 1rem 1.25rem;
}

.main__intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.main__intro img {
  width: 5.625rem;
}

.main__intro-cite {
  color: var(--branco);
  text-align: center;
  font-family: Cinzel Decorative;
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 1.5rem;

  margin-top: 3.5rem;
}

.main__intro-cite span {
  display: block;
}

.main__intro-author {
  color: var(--cor-destaque);
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1rem;
  text-align: center;
}

.main__intro-author span {
  display: block;
  font-family: cinzel, "sans-sherif";
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.25rem;
}

.main h2 {
  color: var(--White, #e3f1ff);
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2rem;
  text-transform: uppercase;
  margin: 3rem 0 1rem 0;
}

.main h2 span {
  color: var(--cor-destaque);
}

.card__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.container__card{
  display: flex;
  width: 250px;
  height: 160px;
  align-items: self-end;
}

.card__link{
  text-decoration: none;
}

.container__card h3 {
  color: var(--cor-principal);
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0.5rem;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.card-1 {
  background-image: url(../img/image-1.png);
  background-size: cover;
  background-position: center;
  filter: drop-shadow(0px -2px 20px  20px var(--cor-principal)));
}

.card-2 {
  background-image: url(../img/image-2.png);
  background-size: cover;
  background-position: center;
  filter: drop-shadow(0px -2px 20px  20px var(--cor-principal));
}

.card-3 {
  background-image: url(../img/image-3.png);
  background-size: cover;
  background-position: center;
  filter: drop-shadow(0px -2px 20px  20px var(--cor-principal));
}

.container__card-cite {
  color: var(--branco);
  text-align: center;
  font-size: .8rem;
  font-weight: 400;
  line-height: 16px; 
}

.container__card-cite {
  color: var(--branco);
  text-align: center;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1rem;
  margin-top: 3rem;
  padding: 0.5rem 0;
}

.container__card-autor {
  color: var(--cor-destaque);
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1rem;
  text-align: center;
  margin-top: 0.8rem;

}

.container__card-autor span {
  display: block;
  font-family: cinzel, "sans-sherif";
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.25rem;
  text-align: center;
}
